.others ::-webkit-scrollbar {
  display: none;
}

.others {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.others {
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: 230px;
  overflow-y: scroll;
  height: 80%;
}

.others h1 {
  font-family: 'Dancing Script', cursive;
  color: #ffffff !important;
  text-shadow: 3.45px 3.45px #333030;
  font-weight: bold !important;
  font-size: 75px;
  text-align: center;
  margin-top: 10px;
}
