.about {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 230px;
  h1 {
    font-family: 'Dancing Script', cursive;
    color: #ffffff !important;
    text-shadow: 3.45px 3.45px #333030;
    font-weight: bold !important;
    font-size: 75px;
    text-align: center;
    margin-top: 10px;
  }
  .about__container {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    .about__right {
      flex: 0.5;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-family: 'Courgette', cursive;
        font-size: 20px;
        color: #333030;
        font-weight: bold;
      }

      .about__rightContact {
        font-size: 20px;
        color: #ffffff;
        text-shadow: 1.49px 1.49px #333030;
      }

      button {
        font-family: 'Courgette', cursive;
        cursor: pointer;
        outline: none;
        border: 4px solid #333030;
        font-size: 15px;
        font-weight: bold;
        color: white;
        background-color: #333030;
        margin-top: 20px;
        padding: 5px 20px;
        border-radius: 20px;
        transition: ease-in-out 200ms;
        width: 170px;
        margin-left: auto;
        margin-right: auto;
      }
      button:hover {
        color: #333030;
        background-color: white;
      }
    }
  }
}
