.about {
  background-color: rgba(0, 0, 0, 0.138);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 100px;
  h1 {
    font-family: 'Dancing Script', cursive;
    color: #ffffff !important;
    text-shadow: 3.45px 3.45px #572e2e;
    font-weight: bold !important;
    font-size: 75px;
    text-align: center;
    margin-top: 10px;
  }
  .about__container {
    margin-top: 30px;
    display: flex;
    .about__left {
      flex: 0.5;
      display: grid;
      justify-content: center;
      img {
        object-fit: contain;
        width: 400px !important;
        // -webkit-filter: drop-shadow(15px 15px 15px #572e2e);
        // filter: drop-shadow(3px 3px 3px #572e2e);
        padding: 50px;
      }
    }

    .about__right {
      flex: 0.5;
      padding: 50px;
      padding-right: 70px;

      p {
        font-family: 'Courgette', cursive;
        font-size: 20px;
        color: #572e2e;
        // text-shadow: 0.5px 0.5px #431f1f;
        font-weight: bold;
      }

      .about__rightContact {
        font-size: 20px;
        color: #ffffff;
        text-shadow: 1.49px 1.49px #572e2e;
      }

      button {
        font-family: 'Courgette', cursive;
        cursor: pointer;
        outline: none;
        border: 4px solid #572e2e;
        font-size: 15px;
        font-weight: bold;
        color: #572e2e;
        background-color: transparent;
        margin-top: 20px;
        padding: 5px 20px;
        margin-left: 220px;
      }
      button:hover {
        color: #fff;
        background-color: #572e2e6b;

        transition: 200ms;
      }
    }
  }
}
