.categories ::-webkit-scrollbar {
  display: none;
}

.categories {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.categories {
  margin-left: 5%;
  margin-right: 5%;
  padding: 50px;
  margin-top: 230px;
  overflow-y: scroll;
  height: 80%;

  h1 {
    font-family: 'Dancing Script', cursive;
    color: #ffffff !important;
    text-shadow: 3.45px 3.45px #333030;
    font-weight: bold !important;
    font-size: 75px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;
  }
  .categories__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .categories__card {
      width: 260px;
      height: 430px;
      margin-right: 10px;
      margin-left: 10px;
      margin-top: 20px;
      transition: ease-in-out 200ms;
      img {
        object-fit: cover;
        width: 260px;
        height: 430px;
        border-radius: 20px;
      }
    }
  }
}

.categories__card {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #33303083;
  border-radius: 20px;
}

.categories__card:hover .overlay {
  opacity: 1;
}

.text {
  font-family: 'Courgette', cursive;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
