.checkoutProduct {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct__info > button {
  font-family: 'Courgette', cursive;
  cursor: pointer;
  outline: none;
  border: 4px solid #572e2e;
  font-size: 20px;
  font-weight: bold;
  color: #572e2e;
  background-color: transparent;
  margin-top: 20px;
  padding: 5px 20px;
  position: relative;
  z-index: 1;
}

.checkoutProduct__info > button:hover {
  color: #fff;
  background-color: #572e2e6b;

  transition: 200ms;
}
