.checkout ::-webkit-scrollbar {
  display: none;
}

.checkout {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.checkout {
  background-color: rgba(0, 0, 0, 0.138);
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: 100px;
  overflow-y: scroll;
  height: 80%;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Courgette', cursive;
  display: flex;
}

.checkout .checkout__empty {
  margin-top: 40px;
  display: grid;
  place-items: center;
  flex: 1;
  color: #572e2e;
}

.checkout .checkout__empty h2 {
  font-size: 40px;
  font-family: 'Courgette', cursive;
}

.checkout .checkout__empty p {
  font-family: 'Courgette', cursive;
}

.checkout .checkout__title {
  text-align: center;
  margin-bottom: 40px;
}

.checkout .checkout__right {
  flex: 0.3;
}

.checkout .checkout__left {
  flex: 0.7;
}
