.checkout ::-webkit-scrollbar {
  display: none;
}

.checkout {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.checkout {
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: 230px;
  overflow-y: scroll;
  height: 80%;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Courgette', cursive;
  display: flex;

  .checkout__empty {
    margin-top: 40px;
    display: grid;
    place-items: center;
    flex: 1;
    color: #333030;
    h2 {
      font-size: 40px;
      font-family: 'Courgette', cursive;
    }
    p {
      font-family: 'Courgette', cursive;
    }
  }

  .checkout__title {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Dancing Script', cursive;
    color: #ffffff !important;
    text-shadow: 3.45px 3.45px #333030;
    font-weight: bold !important;
    font-size: 75px;
    text-align: center;
    margin-top: 10px;
  }

  .checkout__right {
    flex: 0.4;
  }

  .checkout__left {
    flex: 0.6;
    border-right: 4px solid #33303038;
  }
}
