@import '../App';

.navbar {
  background-color: #00000000 !important;
  position: absolute;
  top: 0;
  z-index: 166111591;
  width: 100%;
  padding: 30px;
}

.navbar__link {
  font-family: 'Courgette', cursive;
  font-size: 18px;
  color: $base-color !important;
  font-weight: bold !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.navbar__link:focus,
.navbar__link:active,
.navbar__link-icon:focus {
  border: 0px solid #3030302a;
  box-shadow: none;
  border-radius: 20px;
  background-color: #3030302a;
}

.navbarBasket > .MuiSvgIcon-root {
  font-size: 30px !important;
  color: $base-color !important;
  margin-left: 10px;
}

.basket__count {
  font-size: 20px;
  font-weight: bold;
  color: $base-color;
  margin-left: 3px;
}
