.navbarLogo {
  font-family: 'Dancing Script', cursive;
  color: #ffffff !important;
  text-shadow: 1.2px 1.2px #572e2e;
  font-weight: 800 !important;
  font-size: 3rem;
}

.navbar {
  background-color: #b4c7cc00 !important;
}

.navbar__link {
  font-family: 'Courgette', cursive;
  font-size: 18px;
  color: #572e2e !important;
  font-weight: bold !important;
  padding-left: 20px !important;
}
