.navbarLogo {
  font-family: 'Dancing Script', cursive;
  color: #ffffff !important;
  text-shadow: 1.2px 1.2px #572e2e;
  font-weight: 800 !important;
  font-size: 3rem;
}

.navbar {
  background-color: #00000000 !important;
  position: absolute;
  top: 0;
  z-index: 166111591;
  width: 100%;
}

.navbar__link {
  font-family: 'Courgette', cursive;

  font-size: 18px;
  color: #572e2e !important;
  font-weight: bold !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.navbar__link:focus,
.navbar__link:active,
.navbar__link-icon:focus {
  border: 0px solid #572e2e;
  box-shadow: none;
  border-radius: 20px;
  background-color: #572e2e2a;
}

.navbarBasket > .MuiSvgIcon-root {
  font-size: 30px !important;
  color: white !important;
  margin-left: 10px;
  text-shadow: 1.2px 1.2px #572e2e !important;
}

.basket__count {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: 3px;
  text-shadow: 1.2px 1.2px #572e2e;
}
