.products ::-webkit-scrollbar {
  display: none;
}

.products {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.products {
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.138);
  margin-left: 5%;
  margin-right: 5%;
  padding: 50px;
  padding-bottom: 30px;
  padding-top: 30px;
  overflow-y: scroll;
  height: 80%;
}

.products h1 {
  font-family: 'Dancing Script', cursive;
  color: #ffffff !important;
  text-shadow: 3.45px 3.45px #572e2e;
  font-weight: bold !important;
  font-size: 75px;
  text-align: center;
  margin-top: 30px;
}

.products h2 {
  font-family: 'Courgette', cursive;
  color: #572e2e;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.products h3 {
  font-family: 'Courgette', cursive;
  color: #572e2e;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.products .products__container {
  margin-top: 30px;
  display: flex;
}

.products .products__container .products__colorImg {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 20px;
}

.products .products__container .products__left {
  flex: 0.5;
  display: grid;
  justify-content: center;
}

.products .products__container .products__left img {
  object-fit: contain;
  width: 400px !important;
  padding: 50px;
}

.products .products__container .products__right {
  flex: 0.5;
  padding: 50px;
  padding-right: 70px;
}

.products .products__container .products__right .colors button {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  cursor: pointer;
}

.products .products__container .products__right .colors .colors__beige {
  background-color: #a7aab3;
  border: 2px solid #ffffff;
}

.products .products__container .products__right .colors .colors__green {
  background-color: #142c30;
  border: 2px solid #f5f5f5;
}

.products .products__container .products__right .colors .colors__blue {
  background-color: #2d537f;
  border: 2px solid #f5f5f5;
}

.products .products__container .products__right .colors .colors__grey {
  background-color: #677685;
  border: 2px solid #f5f5f5;
}

.products .products__container .products__right .colors .colors__black {
  background-color: #29303b;
  border: 2px solid #f5f5f5;
}

.products .products__container .products__right .colors .colors__purple {
  background-color: #4d2534;
  border: 2px solid #f5f5f5;
}

.products .products__container .products__right h2 {
  font-family: 'Courgette', cursive;
  font-size: 30px;
  color: #572e2e;
  font-weight: bold;
  margin-top: 10px;
}
