.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 100px;
  font-family: 'Courgette', cursive;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  padding: 20px;
  padding-top: 20px;
  font-size: 24px;
  p {
    margin-top: 20px !important;
  }
}

.subtotal__button {
  font-family: 'Courgette', cursive;
  cursor: pointer;
  outline: none;
  border: 4px solid #333030;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #333030;
  margin-top: 20px;
  padding: 5px 20px;
  border-radius: 20px;
  transition: ease-in-out 200ms;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.subtotal__button:hover {
  color: #333030;
  background-color: white;
}
