@import '~bootstrap/scss/bootstrap';

$base-color: #333030;
$font-secondary: 'Courgette', cursive;

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.4s ease-in-out;
  background-image: url(./images/main.png);
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

html::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

#root ::-webkit-scrollbar {
  display: none;
}

html,
body,
#root {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

Canvas {
  position: relative;
  z-index: 10;
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  z-index: 10;
}

.suspense {
  z-index: 10;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 10;

  .title {
    font-family: 'Dancing Script', cursive;
    font-size: 10rem;
    font-weight: 800;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px $base-color;
    @media (max-width: 1440px) {
      font-size: 10rem;
    }
  }
}
.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000000000000000000000;
}

.loading-bar-container {
  width: 100px;
  height: 32px;
  background: #272727;
}

.loading-bar {
  height: 32px;
  background: #f8f8f8;
}

.app__buy {
  position: absolute;
  z-index: 2;
  top: 70%;
  left: 50%;
}

.button__products {
  position: absolute;
  top: 70%;
  width: 170px;
  height: 40px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10000000000000000;
  font-family: 'Courgette', cursive;
  cursor: pointer;
  outline: none;
  border: 4px solid $base-color;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: $base-color;
  color: white;
  transition: ease-in-out 200ms;
}

.button__products:hover {
  color: $base-color;
  background-color: white;
}
