* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #cc7080;
  transition: 0.4s ease-in-out;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: absolute;
  z-index: 99;
  width: 100%;
  padding: 20px;
}

header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-inner .logo {
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  letter-spacing: 2px;
  color: #fff;
  font-size: 20px;
}

header .header-inner nav ul {
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  letter-spacing: 2px;
  color: #fff;
  font-size: 15px;
  margin: 0;
  padding: 0;
  display: flex;
}

header .header-inner nav ul li {
  list-style: none;
  margin: 0 60px;
}

header .header-inner nav ul li.btn a {
  color: #fff;
  font-weight: 600;
  background: #23232a;
  padding: 16px 24px;
  border-radius: 10px;
}

header .header-inner nav ul li a {
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 10rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: white;
  text-shadow: 4px 4px #572e2e;
}

.title span {
  display: block;
}

@media (max-width: 1440px) {
  .title {
    font-size: 10rem;
  }
}

.title button {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  font-weight: bold;
  background: none;
  border: 4px solid #572e2e;
  color: #572e2e;
  cursor: pointer;
  transition: 300ms;
  border-radius: 8%;
  padding: 20px;
}

.title button:hover {
  background-color: #572e2e;
  color: white;
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-bar-container {
  width: 100px;
  height: 32px;
  background: #272727;
}

.loading-bar {
  height: 32px;
  background: #cc7080;
}
