@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b4c7cc !important;
  transition: 0.4s ease-in-out;
  background-image: url(./images/main.png);
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

Canvas {
  position: relative;
}

Canvas::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background-color: #b5d4dd;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container > button {
  cursor: pointer;
  outline: none;
  border: 4px solid #572e2e;
  font-size: 20px;
  font-weight: bold;
  color: #572e2e;
  background-color: transparent;
  margin-top: 20px;
  padding: 5px 20px;
}

.container > button:hover {
  color: #fff;
  background-color: #572e2e6b;

  transition: 200ms;
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 10rem;
  font-weight: 800;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px #572e2e;
  span {
    display: block;
  }
  @media (max-width: 1440px) {
    font-size: 10rem;
  }
  button {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: bold;
    background: none;
    border: 4px solid #572e2e;
    color: #572e2e;
    cursor: pointer;
    transition: 300ms;
    border-radius: 8%;
    padding: 20px;
  }
  button:hover {
    background-color: #572e2e;
    color: white;
  }
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-bar-container {
  width: 100px;
  height: 32px;
  background: #272727;
}

.loading-bar {
  height: 32px;
  background: #cc7080;
}

.app__buy {
  position: absolute;
  z-index: 2;
  top: 70%;
  left: 50%;
}
