.dashboard ::-webkit-scrollbar {
  display: none;
}

.dashboard {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  background-color: #ddd7d7;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  overflow-y: scroll;
}

.dashboard .dashboard__logout {
  position: absolute;
  right: 70px;
  background-color: #616161;
  color: #c9c1c1;
  border-radius: 10%;
  outline: none;
  border: none;
  padding: 10px;
  font-weight: 700;
  transition: ease-in-out 100ms;
}

.dashboard .dashboard__logout:hover {
  background-color: #9e9c9c;
}

.dashboard .dashboard__buttons {
  position: absolute;
  left: 70px;
  display: flex;
}

.dashboard .dashboard__buttons .dashboard__add {
  background-color: #c4c1c1;
  color: #272626;
  border-radius: 10%;
  outline: none;
  border: none;
  padding: 10px;
  font-weight: 700;
  transition: ease-in-out 100ms;
  margin-right: 10px;
}

.dashboard .dashboard__buttons .dashboard__add:hover {
  background-color: #9e9c9c;
}

.dashboard .dashboard__buttons .dashboard__edit {
  background-color: #c4c1c1;
  color: #272626;
  border-radius: 10%;
  outline: none;
  border: none;
  padding: 10px;
  font-weight: 700;
  transition: ease-in-out 100ms;
  margin-right: 10px;
}

.dashboard .dashboard__buttons .dashboard__edit:hover {
  background-color: #9e9c9c;
}

.dashboard h1 {
  font-size: 50px;
  font-family: 'Courgette', cursive;
}

.dashboard .dashboard__optionContainer {
  background-color: rgba(197, 190, 190, 0.679);
  padding: 20px;
  width: 90%;
  margin-top: 30px;
  border-radius: 10px;
}

.dashboard .dashboard__optionContainer .choosen {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.dashboard .dashboard__optionContainer .dashboard__addCaption {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(130, 124, 124, 0.664);
}

.dashboard .dashboard__optionContainer .dashboard__container {
  padding-top: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
}

.dashboard .dashboard__optionContainer .imageupload {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  align-items: center;
}

.dashboard .dashboard__optionContainer .imageupload .imageupload__row {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dashboard .dashboard__optionContainer .imageupload .imageupload__row input {
  padding: 5px;
}

.dashboard .dashboard__optionContainer .imageupload .imageupload__row h2 {
  width: 230px;
}

.dashboard .dashboard__optionContainer .imageupload .imageupload__row input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.dashboard .dashboard__optionContainer .imageupload .imageupload__row input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

.dashboard .dashboard__optionContainer .imageupload .sumup__row {
  display: flex;
  margin-bottom: 20px;
}

.dashboard .dashboard__optionContainer .imageupload .sumup__row input[type='file'] {
  cursor: pointer;
}

.dashboard .dashboard__optionContainer .imageupload .sumup__row Button {
  background-color: rgba(46, 102, 161, 0.994);
  color: white;
  font-weight: bold;
  width: 200px;
}

.dashboard .dashboard__optionContainer .imageupload progress {
  width: 90%;
  height: 30px;
}
