.editProduct {
  margin-top: 30px;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 1px solid rgba(82, 76, 76, 0.508);
}

.editProduct .editProduct__left {
  flex: 0.5;
  display: grid;
  justify-content: center;
}

.editProduct .editProduct__left img {
  object-fit: contain;
  width: 400px !important;
  padding: 50px;
}

.editProduct .editProduct__right {
  flex: 0.5;
  padding: 50px;
  padding-right: 70px;
  display: flex;
  flex-direction: column;
}

.editProduct .editProduct__right input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.editProduct .editProduct__right input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.editProduct .editProduct__right input {
  margin-top: 20px;
}

.editProduct .editProduct__right h2 {
  font-family: 'Courgette', cursive;
  font-size: 30px;
  color: #572e2e;
  font-weight: bold;
  margin-top: 10px;
}

.editProduct .editProduct__right h3 {
  font-family: 'Courgette', cursive;
  color: #572e2e;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.editProduct .editProduct__right p {
  font-family: 'Courgette', cursive;
  color: #572e2e;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.editProduct .editProduct__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.editProduct .editProduct__buttons .MuiSvgIcon-root {
  font-size: 60px;
  color: rgba(46, 102, 161, 0.994);
}

.editProduct .editProduct__buttons .deleteIcon {
  color: #b14f4f !important;
}

.editProduct .editProduct__buttons .saveIcon {
  color: #319e6f !important;
}
